.sr-only {
    position: absolute;
    left: 0;
    width: 0.01rem;
    height: 0.01rem;
    border: 0;
    padding: 0;
    margin: -0.01rem;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
}

svg {
    width: 100%;
    height: 100%;
    fill: none;
}

* {
    box-sizing: border-box;
}

button {
    font-family: 'Lexend', 'Verdana', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:focus:not(:focus-visible) {
    outline: none;
}

:focus-visible {
    outline: auto;
    outline-offset: 4px;
    outline-color: black;
}

.main-gradient-background {
    --background-image: linear-gradient(
        -160deg in oklch,
        var(--sky-gradient-color-dark),
        var(--sky-gradient-color-medium),
        var(--sky-gradient-color-light)
    );
}

.background-image {
    background-image: var(--background-image);
}

a {
    color: var(--link-color) !important;
    transition: var(--short-animation-duration) ease-in-out;
    text-decoration: underline 0.1rem
        color-mix(in hsl, var(--background), var(--body) 20%);
    text-underline-offset: 0.2rem;
    font-weight: 400;

    &:hover,
    &:focus-visible {
        color: var(--link-color);
        text-decoration-color: var(--link-color);
        text-underline-offset: 0.3rem;
        translate: 0 -0.08rem;
    }
}

@media (prefers-reduced-motion) {
    *,
    ::before,
    ::after {
        transition-duration: 0s !important;
        animation-duration: 0s !important;
    }
}

.skip-to-main-content {
    &:focus-visible {
        top: 1rem;
        left: 1rem;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0.3rem 0.5rem;
        outline: auto;
        outline-offset: 2px;
        outline-color: black;
        clip: unset;
        background-color: var(--background);
        z-index: 2;
        font-size: 1rem;
    }
}
