:root {
    color-scheme: light dark;

    /* LIGHT MODE */
    --l-shadow: color-mix(in hsl, var(--background), #000 20%);
    --l-link-color: #6B4AC4;
    --l-body: #0d131c;
    --l-background: #f5ebff;
    --l-strong-color: #ac0f65;
    --l-gradient-color-dark: #6954c5;
    --l-gradient-color-medium: #d184ae;
    --l-gradient-color-light: #f3ba94;

    --l-cloud-top-left-color-1: #f8d2a7;
    --l-cloud-top-left-color-2: #d1a984;
    --l-cloud-top-left-color-3: #d184ae;
    --l-cloud-top-left-color-4: #8c5f9a;
    --l-cloud-top-left-color-5: #6d5f9a;

    --l-cloud-bottom-left-color-1: #ffffff;
    --l-cloud-bottom-left-color-2: #ec9e8a;
    --l-cloud-bottom-left-color-3: #c77497;
    --l-cloud-bottom-left-color-4: #ca7ea2;
    --l-cloud-bottom-left-color-5: #e7b192;

    --l-cloud-top-right-color-1: #ffffff;
    --l-cloud-top-right-color-2: #f0cfb0;
    --l-cloud-top-right-color-3: #d184ae;
    --l-cloud-top-right-color-4: #af52a0;

    --l-cloud-bottom-right-color-1: #ffffff;
    --l-cloud-bottom-right-color-2: #f3ba94;
    --l-cloud-bottom-right-color-3: #d184ae;
    --l-cloud-bottom-right-color-4: #8c5f9a;

    --l-cloud-blended-bottom-right-color-1: #f3ba94;
    --l-cloud-blended-bottom-right-color-2: #8c5f9a;

    --l-cloud-front-bottom-right-color-1: #f3ba94;
    --l-cloud-front-bottom-right-color-2: #d184ae;
    --l-cloud-front-bottom-right-color-3: #8c5f9a;
    --l-cloud-front-bottom-right-color-4: #6d5f9a;

    --l-moon-or-sun-color-1: #ffe6ca;
    --l-moon-or-sun-color-2: #ffffff;
    --l-moon-or-sun-color-3: #ffeedb;
    --l-moon-or-sun-color-4: #ffffff;

    /* DARK MODE */
    --d-shadow: color-mix(in hsl, var(--background), #fff 10%);
    --d-link-color: #937dcf;
    --d-body: #f1eef7;
    --d-background: #141123;
    --d-strong-color: #e29fc4;
    --d-gradient-color-dark: #141123;
    --d-gradient-color-medium: #4f4d86;
    --d-gradient-color-light: #46a2ac;

    --d-cloud-top-left-color-1: #a8acbe;
    --d-cloud-top-left-color-2: #6d5f9a;
    --d-cloud-top-left-color-3: #4d5e95;
    --d-cloud-top-left-color-4: #272f64;
    --d-cloud-top-left-color-5: #2e5d90;

    --d-cloud-bottom-left-color-1: #a8acbe;
    --d-cloud-bottom-left-color-2: #3c478b;
    --d-cloud-bottom-left-color-3: #2e5d90;
    --d-cloud-bottom-left-color-4: #5c74a4;
    --d-cloud-bottom-left-color-5: #4492b1;

    --d-cloud-top-right-color-1: #a8acbe;
    --d-cloud-top-right-color-2: #6d5f9a;
    --d-cloud-top-right-color-3: #4d5e95;
    --d-cloud-top-right-color-4: #272f64;

    --d-cloud-bottom-right-color-1: #ffffff;
    --d-cloud-bottom-right-color-2: #c89cda;
    --d-cloud-bottom-right-color-3: #4567a6;
    --d-cloud-bottom-right-color-4: #553f7d;

    --d-cloud-blended-bottom-right-color-1: #48789c;
    --d-cloud-blended-bottom-right-color-2: #553f7d;

    --d-cloud-front-bottom-right-color-1: #dec3e8;
    --d-cloud-front-bottom-right-color-2: #5c74a4;
    --d-cloud-front-bottom-right-color-3: #504a83;
    --d-cloud-front-bottom-right-color-4: #3c478b;

    --d-moon-or-sun-color-1: #ffffff;
    --d-moon-or-sun-color-2: #f1fbf7;
    --d-moon-or-sun-color-3: transparent;
    --d-moon-or-sun-color-4: transparent;

    /* GENERIC (LIGHT/DARK) */
    --shadow: light-dark(var(--l-shadow), var(--d-shadow));
    --body: light-dark(var(--l-body), var(--d-body));
    --background: light-dark(var(--l-background), var(--d-background));
    --link-color: light-dark(var(--l-link-color), var(--d-link-color));
    --strong-color: light-dark(var(--l-strong-color), var(--d-strong-color));
    --sky-gradient-color-dark: light-dark(
        var(--l-gradient-color-dark),
        var(--d-gradient-color-dark)
    );
    --sky-gradient-color-medium: light-dark(
        var(--l-gradient-color-medium),
        var(--d-gradient-color-medium)
    );
    --sky-gradient-color-light: light-dark(
        var(--l-gradient-color-light),
        var(--d-gradient-color-light)
    );

    /* ======================= */

    --cloud-top-left-color-1: light-dark(
        var(--l-cloud-top-left-color-1),
        var(--d-cloud-top-left-color-1)
    );
    --cloud-top-left-color-2: light-dark(
        var(--l-cloud-top-left-color-2),
        var(--d-cloud-top-left-color-2)
    );
    --cloud-top-left-color-3: light-dark(
        var(--l-cloud-top-left-color-3),
        var(--d-cloud-top-left-color-3)
    );
    --cloud-top-left-color-4: light-dark(
        var(--l-cloud-top-left-color-4),
        var(--d-cloud-top-left-color-4)
    );
    --cloud-top-left-color-5: light-dark(
        var(--l-cloud-top-left-color-5),
        var(--d-cloud-top-left-color-5)
    );

    /* ======================= */

    --cloud-bottom-left-color-1: light-dark(
        var(--l-cloud-bottom-left-color-1),
        var(--d-cloud-bottom-left-color-1)
    );
    --cloud-bottom-left-color-2: light-dark(
        var(--l-cloud-bottom-left-color-2),
        var(--d-cloud-bottom-left-color-2)
    );
    --cloud-bottom-left-color-3: light-dark(
        var(--l-cloud-bottom-left-color-3),
        var(--d-cloud-bottom-left-color-3)
    );
    --cloud-bottom-left-color-4: light-dark(
        var(--l-cloud-bottom-left-color-4),
        var(--d-cloud-bottom-left-color-4)
    );
    --cloud-bottom-left-color-5: light-dark(
        var(--l-cloud-bottom-left-color-5),
        var(--d-cloud-bottom-left-color-5)
    );

    /* ======================= */

    --cloud-top-right-color-1: light-dark(
        var(--l-cloud-top-right-color-1),
        var(--d-cloud-top-right-color-1)
    );
    --cloud-top-right-color-2: light-dark(
        var(--l-cloud-top-right-color-2),
        var(--d-cloud-top-right-color-2)
    );
    --cloud-top-right-color-3: light-dark(
        var(--l-cloud-top-right-color-3),
        var(--d-cloud-top-right-color-3)
    );
    --cloud-top-right-color-4: light-dark(
        var(--l-cloud-top-right-color-4),
        var(--d-cloud-top-right-color-4)
    );

    /* ======================= */

    --cloud-bottom-right-color-1: light-dark(
        var(--l-cloud-bottom-right-color-1),
        var(--d-cloud-bottom-right-color-1)
    );
    --cloud-bottom-right-color-2: light-dark(
        var(--l-cloud-bottom-right-color-2),
        var(--d-cloud-bottom-right-color-2)
    );
    --cloud-bottom-right-color-3: light-dark(
        var(--l-cloud-bottom-right-color-3),
        var(--d-cloud-bottom-right-color-3)
    );
    --cloud-bottom-right-color-4: light-dark(
        var(--l-cloud-bottom-right-color-4),
        var(--d-cloud-bottom-right-color-4)
    );

    /* ======================= */

    --cloud-blended-bottom-right-color-1: light-dark(
        var(--l-cloud-blended-bottom-right-color-1),
        var(--d-cloud-blended-bottom-right-color-1)
    );
    --cloud-blended-bottom-right-color-2: light-dark(
        var(--l-cloud-blended-bottom-right-color-2),
        var(--d-cloud-blended-bottom-right-color-2)
    );

    /* ======================= */

    --cloud-front-bottom-right-color-1: light-dark(
        var(--l-cloud-front-bottom-right-color-1),
        var(--d-cloud-front-bottom-right-color-1)
    );
    --cloud-front-bottom-right-color-2: light-dark(
        var(--l-cloud-front-bottom-right-color-2),
        var(--d-cloud-front-bottom-right-color-2)
    );
    --cloud-front-bottom-right-color-3: light-dark(
        var(--l-cloud-front-bottom-right-color-3),
        var(--d-cloud-front-bottom-right-color-3)
    );
    --cloud-front-bottom-right-color-4: light-dark(
        var(--l-cloud-front-bottom-right-color-4),
        var(--d-cloud-front-bottom-right-color-4)
    );

    /* ======================= */

    --moon-or-sun-color-1: light-dark(
        var(--l-moon-or-sun-color-1),
        var(--d-moon-or-sun-color-1)
    );
    --moon-or-sun-color-2: light-dark(
        var(--l-moon-or-sun-color-2),
        var(--d-moon-or-sun-color-2)
    );
    --moon-or-sun-color-3: light-dark(
        var(--l-moon-or-sun-color-3),
        var(--d-moon-or-sun-color-3)
    );
    --moon-or-sun-color-4: light-dark(
        var(--l-moon-or-sun-color-4),
        var(--d-moon-or-sun-color-4)
    );

    /* OTHER */
    --background-image: 'none';
    --unit: 1vmin;

    --short-animation-duration: 0.2s;
    --medium-animation-duration: 0.4s;
    --light-source-glow-animation-duration: 15s;
    --top-left-cloud-animation-duration: 60s;
    --bottom-left-cloud-animation-duration: 55s;
    --top-right-cloud-animation-duration: 45s;
    --bottom-right-cloud-animation-duration: 40s;
    --blended-bottom-right-cloud-animation-duration: 40s;
    --front-bottom-right-cloud-animation-duration: 35s;
}
