@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'styles/shared.css';

@property --sky-gradient-color-a {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --sky-gradient-color-b {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

:root {
    /* LIGHT MODE */
    --l-shadow: color-mix(in hsl, var(--background), #000 20%);
    --l-body: #141123;
    --l-background: #f7e4ff;
    --l-sky-gradient-position: center bottom;
    --l-color-a: rgb(89, 73, 159);
    --l-color-b: rgb(255, 229, 180);

    /* DARK MODE */
    --d-shadow: color-mix(in hsl, var(--background), #fff 10%);
    --d-body: #fff;
    --d-background: #141123;
    --d-sky-gradient-position: center top;
    --d-color-a: rgba(30, 17, 60, 1);
    --d-color-b: rgba(78, 166, 177, 1);
}

[data-theme='light'] {
    --shadow: var(--l-shadow);
    --body: var(--l-body);
    --background: var(--l-background);
    --sky-gradient-position: var(--l-sky-gradient-position);
    --sky-gradient-color-a: var(--l-color-a);
    --sky-gradient-color-b: var(--l-color-b);
}

@media (prefers-color-scheme: light) {
    :root:not([data-theme]) {
        --shadow: var(--l-shadow);
        --body: var(--l-body);
        --background: var(--l-background);
        --sky-gradient-position: var(--l-sky-gradient-position);
        --sky-gradient-color-a: var(--l-color-a);
        --sky-gradient-color-b: var(--l-color-b);
    }
}

[data-theme='dark'] {
    --shadow: var(--d-shadow);
    --body: var(--d-body);
    --background: var(--d-background);
    --sky-gradient-position: var(--d-sky-gradient-position);
    --sky-gradient-color-a: var(--d-color-a);
    --sky-gradient-color-b: var(--d-color-b);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --shadow: var(--d-shadow);
        --body: var(--d-body);
        --background: var(--d-background);
        --sky-gradient-position: var(--d-sky-gradient-position);
        --sky-gradient-color-a: var(--d-color-a);
        --sky-gradient-color-b: var(--d-color-b);
    }
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    color: var(--body);
    font-family: 'Lexend', 'Verdana', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (width < 600px) {
    tc-sky {
        display: none;
    }
}
