@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'styles/shared.css';

@property --sky-gradient-color-dark {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --sky-gradient-color-medium {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

@property --sky-gradient-color-light {
    syntax: '<color>';
    inherits: true;
    initial-value: transparent;
}

:root {
    color-scheme: light dark;

    /* LIGHT MODE */
    --l-shadow: color-mix(in hsl, var(--background), #000 20%);
    --l-body: #141123;
    --l-background: #f7e4ff;
    --l-sky-gradient-position: center bottom;
    --l-gradient-color-dark: rgb(105, 84, 197);
    --l-gradient-color-medium: rgb(209, 132, 174);
    --l-gradient-color-light: rgb(243, 186, 148);

    /* DARK MODE */
    --d-shadow: color-mix(in hsl, var(--background), #fff 10%);
    --d-body: #fff;
    --d-background: #141123;
    --d-sky-gradient-position: center top;
    --d-gradient-color-dark: rgb(20, 14, 48);
    --d-gradient-color-medium: rgb(81, 77, 134);
    --d-gradient-color-light: rgb(70, 162, 172);

    /* GENERIC (LIGHT/DARK) */
    --shadow: light-dark(var(--l-shadow), var(--d-shadow));
    --body: light-dark(var(--l-body), var(--d-body));
    --background: light-dark(var(--l-background), var(--d-background));
    --sky-gradient-color-dark: light-dark(
        var(--l-gradient-color-dark),
        var(--d-gradient-color-dark)
    );
    --sky-gradient-color-medium: light-dark(
        var(--l-gradient-color-medium),
        var(--d-gradient-color-medium)
    );
    --sky-gradient-color-light: light-dark(
        var(--l-gradient-color-light),
        var(--d-gradient-color-light)
    );

    /* OTHER */
    --short-animation: 0.2s;
    --medium-animation: 0.3s;
    --main-gradient: linear-gradient(
        -160deg in oklch,
        var(--sky-gradient-color-dark),
        var(--sky-gradient-color-light)
    );
}

body {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
    color: var(--body);
    font-family: 'Lexend', 'Verdana', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: ease var(--short-animation);
    transition-property: color, background-color;
}

@media (width < 600px) {
    tc-sky {
        display: none;
    }
}
