.sr-only {
    position: absolute;
    left: 0;
    width: 0.05rem;
    height: 0.05rem;
    border: 0;
    padding: 0;
    margin: -0.05rem;
    clip: rect(0 0 0 0);
    overflow: hidden;
    white-space: nowrap;
    outline: 0;
}

svg {
    fill: currentcolor;
}

* {
    box-sizing: border-box;
}

button {
    font-family: 'Lexend', 'Verdana', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
